/* About Carousel  */
.single-slider {
    margin-top: 100px;
    display: flex !important;
    justify-content: space-around;
}

.slider-content {
    width: 458px;
}

.slider-img, .slider-img img {
    width: 384px;
    height: 384px;
    border-radius: 50%;
}

p.slider-desc {
    font-family: Nunito;
    font-size: 20px;
    font-weight: 500;
    line-height: 34px;
    position: relative;
}

p.slider-desc:before {
    position: absolute;
    content:url('./../../img/quote 1.png');
    left: -67px;
    top: -25px;
}
p.slider-desc:after {
    position: absolute;
    content:url('./../../img/quote 2.png');
    right: 100px;
    bottom: -32px;
}

.author {
    display: flex;
    gap: 20px;
    margin-top: 55px;
}

.author img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.author-title h5 {
    font-family: Nunito;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
}

.author-title p {
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    margin: 10px 0 0 0;
}

/* .slider-dots button {
    width: 11px;
    height: 11px;
    background: #CEDEF4;
    border: none;
    border-radius: 50%;
    margin-left: 7px;
}

.slider-dots {
    margin-top: 50px;
}

.slider-dots .active {
    height: 11px;
    width: 26.062637329101562px;
    left: 217.49810791015625px;
    top: 5744.8193359375px;
    border-radius: 22px;
    background: #2D5BFF;
} */
.testimonial-carousel ul.slick-dots {
    width: 18%;
    position: absolute;
    bottom: 35px;
}

.testimonial-carousel ul.slick-dots li button {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #CEDEF4;
}

.testimonial-carousel ul.slick-dots li.slick-active {
    height: 11px;
    width: 26.062637329101562px;
    border-radius: 22px;
    background: #2D5BFF;
}

.testimonial-carousel ul.slick-dots li.slick-active button{
    background-color: transparent;
}

.slick-dots li button:before{
    content: '' !important;
}

.slick-next:before{
    content: '';
}
.slick-prev:before{
    content: '';
}